body {
    background-color: rgb(19, 19, 19);
}
h1 {
    position: relative;
    bottom: -10%;
    font-size: 50px;

}
a {
  text-decoration: none;
  color: #dfdfdf;
}

p {
    color: white;
}
#M {
  position: relative;
  height: 60px;
  width: 60px;
  left: -505px;
  bottom: -20px;
}
.div1 {
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}
.div2 {
    position: relative;
    width: 1000px;
    height: 800px;
    right: -16%;
}
#s1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    width: 230px;
    height: 350px;
    margin: 30px;
    margin-right: 40px;
    text-align: center;
    background-color: #1d1d1d;
    box-shadow: rgb(0 0 0 / 25%) 8px 5px 22px 5px;
    border: 2px solid rgb(17, 17, 17);
    transition: all 0.5s ease 0s;

}
#s1:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #dfdfdf;
  border: solid 2px #dd5405;
  color: black;
  font-weight: bold;
}
#foo {
    width: 100%;
    height: 100px;
}
.logo {
    width: 125px;
    height: 125px;
    transition: all 0.5s ease 0s;
    background: transparent;
}
.button {
  right: -450px;
  top: -140px;
}

button {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    background-color: #dd5405;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    bottom: -40px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
